/* You can add global styles to this file, and also import other style files */
.component {
  display: block;
  padding: 18px;
  margin: 18px 0;
  border: 1px solid #ccc;
}

.checked {
  border-color: red;
}

.onpush {
  width: fit-content;
  background: pink;
  padding: 8px;
  border-radius: 10px;
}
